<div id="title">
  <h2>Emergency Bootcamp Motivation</h2>
</div>
<h1><%= @compliment %></h1>
<div id="needmore">
  <h3>Need more?<br/>No worries, these arms were made to hold you.<br>
    <div id="hug">
      <a href="/">
        Let's Hug.
      </a>
    </div>
  </h3>
</div>