<div id="title">
  <h2>You Deserve This Emegency Compliment</h2>
</div>
<h1><%= @compliment.message %></h1>
<br>
<img class="img" src=<%= @compliment.image %>>
<br>
<div id="needmore">
  <h3>Need more?<br>No worries, my arms were made to hold you.<br>
    <a href="x">Hug Me.</a></h3>
</div>