<div id="title">
  <h2>Emergency Bootcamp Motivation</h2>
</div>
<h1><%= @compliment.message %></h1>
<div id="needmore">
  <h3>Need more?<br>No worries, my arms were made to hold you.<br>
    <a href="compliments">Hug Me.</a></h3>
</div>