body {
  /*background-color: #0080FF;*/
  color: white;
}
#title {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: white;
}
h1, h2, h3 {
  text-align: center;
}
h2 {
  color: #0080FF;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 50px;
}
h1 {
  margin-top: 40px;
  font-family: 'Source Sans Pro', sans-serif;
}
h3 {
  /*margin-top: 50px;*/
  font-family: 'Source Sans Pro', sans-serif;
}
.img {
  display: block;
  margin: auto;
}
h3 a {
  color: white;
  font-size: 35px;
}
#needmore {
  margin-top: 30px;
  display: block;
  padding: 10px;
  background-color: #1E90FF;
}