body {
  /*background-color: #0080FF;*/
  color: white;
}
#title {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: white;
}
h1, h2, h3 {
  text-align: center;
}
h2 {
  color: #FF7588;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 50px;
  line-height: 1;
}
h1 {
  margin-top: 150px;
  margin-bottom: 150px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
  line-height: 1.25;
}
h3 {
  font-family: 'Source Sans Pro', sans-serif;
}
.img {
  display: block;
  margin: auto;
}
h3 a {
  color: white;
  font-size: 35px;
}
#needmore {
  margin-top: 30px;
  display: block;
  padding: 10px;
  background-color: rgba(255,255,255,.3);
}